/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto&family=Schoolbell&display=swap');

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* ranking */
.table-slide-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.table-slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}

.homeButton {
    * {
        outline:none;
        text-decoration:none;
        border:none;
      }
      
      body {
        background-color: #ecf0f1;
        font-size: 2rem;
        font-family: arial;
      }
      
      .content {
        display: flex;
        flex-direction: column;
      }
      
      div { 
        margin: 50px auto;
      }
      
      .btn {
        padding: 15px ;
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
        transition: all .5s ease; 
      }
      
      .btn--doar {
        color: #fff;
        padding-right: 0;
        background-color: #c0392b;
        -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);
      
      }
      
      .btn--doar:hover { 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
      }
      
      .btn--doar:after {
        content: "\f004";
        color: #e74c3c;
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        right: -55px;
        transition: all 0.2s ease;
      }
      
      .btn--doar:hover:after {
        margin: -5px 15px;
        right: 0px;
      }
      
      .btn--promo {
        color: #dff9fb;
        background-color: #130f40;
        border-radius: 50px;
      }
      
      .btn--promo:after {
        content: '40% OFF';
        display: inline-block;
        font-size: 1rem;
        color: #130f40;
        background-color: #f0932b;
        border-radius: 25px;
        padding: 5px;
        position: absolute;
        margin-top: -30px; 
        margin-left: -55px; 
      }
      
      .btn--action{
        display: block;
        border-radius: 2.5rem;
        background-color: #f6e58d;
        color: #000;
        transition: all .5s ease 0s; 
        box-shadow: 0 10px #f9ca24;
        font-size: xx-large;
      }
      
      /* .btn--action:hover{
      box-shadow: inset 0 0 0 .25rem #ffbe76;
      } */
      
      .btn--action span{
        display: inline-block;
        position: relative;
        transition: all .5s ease;
      }
      
      .btn--action span:before {
        content: "\f7a2"; 
        color: inherit; /* Inherit color from the button's text */
        font-size: inherit; /* Inherit font-size from the button's text */
        font-family: "Font Awesome 5 Free"; /* Inherit font-family from the button's text */
        display: inline-block;
        position: absolute;
        top: 50%; /* Adjust positioning as needed */
        left: 1.5rem; /* Adjust positioning as needed */
        transform: translateY(-50%); /* Vertically center the icon */
        opacity: 0;
        transition: all .1s ease 0s;
      }
      
      .btn--action:hover span{
        padding-left: 3rem; 
      }
      
      .btn--action:hover span:before {
        left: 0;
        opacity: 1;
      }
      
      .btn--action:active {
        box-shadow: 0 5px #f0932b;
        transform: translateY(5px);
      }

      /* .start-100 {
        left: 50% !important;
      }

      .top-50 {
      top: 85% !important;
      } */

}
