:root {
    --fs-norm: 1rem; /* defaults to browser's font-size definition */
  }
.logo {
    width: 50px;
    height: 50px;
}
.titulo {
    /* font-family: Cambria, serif; */
    /* font-family: "Permanent Marker", cursive; */
    font-family: "Rubik Bubbles", system-ui;
    /* font-weight: bold; */
    color: white;
    
    font-size: calc(var(--fs-norm) + 6vw);
  }
.iniciar-sesion{
    font-size: 20px;
}
.negrita{
    font-weight: bold;
}
.cambria{
    /* font-family: Cambria, serif; */
    font-family: "Permanent Marker", cursive;
}
.texto{
    font-size: 30px; 
}
.back-navbar{
    background-color: #7AA2E3;
}
.back-texto1{
    background-color: #6AD4DD;
}
.back-texto2{
    background-color: #97E7E1;
}
.back-texto3{
    background-color: #F8F6E3;
}
.imagen-boton {
    position: relative;
    /* display: inline-block; */
}
.su-posicion{
    background-color: #4F6F52;
}
.boton {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    top: 90%; /* Ajusta la posición vertical del botón */
    /* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    margin: auto;
    background-color: #4F6F52;
    color: #fff;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
}
.footer {
    position: relative;
    /* display: inline-block; */
}
.navbar-text{
    font-size: 20px;
}
a{
    text-decoration: none;
}
.creadores-posicion {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    height: 108px;
    top: 50%; /* Ajusta la posición vertical del botón */
    left: 10%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.creadores-titulo{
    font-size: 20px;
}
.creadores{
    font-size: 15px;
}
.agradecimientos-posicion {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    top: 50%; /* Ajusta la posición vertical del botón */
    left: 90%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
.agradecimientos-titulo{
    font-size: 20px;
}
.agradecimientos{
    font-size: 15px;
}
.login{
    font-size: 27px; 
}

.SessionContainer{
    background-color: #F8F6E3;
}
.Iconholder{
    background-color: #6AD4DD;
}
.podio{
    position: relative;
}
.geeks{
 font-size: 20px;
}
.primeros3{
    position: absolute;
}
.pading-texto{
    padding: 100px;
}
.segundo{
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: x-large;
    top: 28%; /* Ajusta la posición vertical del botón */
    left: 17%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
.primero{
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: x-large;
    top: 9%; /* Ajusta la posición vertical del botón */
    left: 54%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
.tercero{
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: x-large;
    top: 39%; /* Ajusta la posición vertical del botón */
    left: 80%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
.flag{
    width:3.125rem;
}
.languageButton{
    width:4.125rem;
    height:3.250rem;
}
.imgED{
    width: 50px;
    height: 200px;
}
.nube{
    width: 300px; 
    height: 200px;
}
.podio{
    width:900px;
    height: 430px;
}

@media screen and (max-width: 992px){
    .nube{
        width: 250px; 
        height: 150px;
    }
    .nubetexto{
        font-size: large;
    }
    .podio{
        width:700px;
        height: 330px;
    }
    .segundo{
        left: 15%;
    }
    .tercero{
        left: 83%;
    }

}
@media screen and (max-width: 768px ) {
    .podio{
        width: 520px;
        height: 300px;
    }

    .primero{
        font-size: large;
    }
    .segundo{
        font-size: large;
        left: 15%;
    }
    .tercero{
        font-size: large;
        left: 83%;
    }
    .nube{
        width: 200px; 
        height: 100px;
    }
    .nubetexto{
        padding-top: 30px;
        font-size: medium;
    }
    .titulo{
        
        font-size: 4.125rem;
        
    }
    .texto{
        font-size: 20px;
    }
    .navbar-text{
        font-size: 15px;
    }
    .creadores-posicion{
        top: 43%; 
        left: 15%;
        height: 75px;
    }
    .agradecimientos-posicion{
        top: 50%; 
        left: 85%;
        height: 70px;
    }
    .creadores{
        font-size: 15px;
    }
    .creadores-titulo{
        font-size: 20px;
    }
    .agradecimientos{
        font-size: 15px;
    }
    .agradecimientos-titulo{
        font-size: 20px;
    }
    .geeks{
        font-size:15px;
    }
    .boton{
        font-size: 35px;
    }
    .logo{
        height: 45px;
        width: 45px;
    }
    .iniciar-sesion{
        font-size: 15px;
    }
    .pading-texto{
        padding: 25px;
    }
    .flag{
        width:2.125rem;
    }
    .languageButton{
        padding-bottom: 0.2505rem;
        width:3.125rem;
        height:2.250rem;
    }
    

    /*----------------Session----------------*/
}
@media screen and (max-width: 576px) {
    .podio{
        width: 450px;
        height: 150px;
    }

    .primero{
        font-size: large;
    }
    .segundo{
        font-size: large;
        left: 15%;
    }
    .tercero{
        font-size: large;
        left: 83%;
    }
    .nubetexto{
        padding-top: 30px;
        font-size: medium;
    }

    .titulo{
        font-size: 40px;
    }
    .texto{
        font-size: 15px;
    }
    .navbar-text{
        font-size: 10px;
    }
    .creadores-posicion{
        top: 50%; 
        left: 15%;
        height: 75px;
    }
    .agradecimientos-posicion{
        top: 50%; 
        left: 85%;
        height: 70px;
    }
    .creadores{
        font-size: 10px;
    }
    .creadores-titulo{
        font-size: 10px;
    }
    .agradecimientos{
        font-size: 10px;
    }
    .agradecimientos-titulo{
        font-size: 10px;
    }
    .geeks{
        font-size:10px;
    }
    .boton{
        font-size: 25px;
    }
    .logo{
        height: 35px;
        width: 35px;
    }
    .iniciar-sesion{
        font-size: 10px;
    }
    .pading-texto{
        padding: 15px;
    }
    /*----------------Session----------------*/

}
.contenedor {
    position: relative;
    perspective: 1000px; /* Define la perspectiva para el efecto de 3D */
}
.imagen.flipped {
    transform: rotateY(180deg); /* Rota la imagen 180 grados en el eje Y */
}
.imagen {
    width: 450px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 630px;
    margin: auto;
    transition: transform 0.5s; /* Agrega una transición suave al transformar */
}
.texto-trasero {
    /* Estilos base para el texto en la parte trasera */
    display: none; /* Ocultar el texto por defecto */
    position: absolute; /* Posición absoluta para superponerlo sobre la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease; /* Transición suave para la animación */
  }
  
  .texto-trasero.show {
    /* Estilos adicionales cuando el texto debe mostrarse */
    display: block; /* Mostrar el texto */
  }
.flip-container {
    perspective: 1000px; /* Profundidad de la perspectiva */
}

.flip-container:hover .flipper {
    transform: rotateY(180deg); /* Girar la flipper cuando se pase el ratón por encima */
}

.flipper {
    transition: 0.6s; /* Duración de la transición */
    transform-style: preserve-3d; /* Conservar la perspectiva */
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ocultar la cara posterior cuando se gire */
}

.back {
    transform: rotateY(180deg); /* Girar la cara posterior */
    background-color: #ffffff; /* Color de fondo para la cara posterior */
    color: #000000; /* Color del texto en la cara posterior */
    text-align: center; /* Alinear el texto al centro */
}
.puntos{
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    top: 60%; /* Ajusta la posición vertical del botón */
    left: 52%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
.nube{
    position: relative;
}
/* @keyframes destello {
    0% {
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
    }
    100% {
      box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0);
    }
  } */

@keyframes confetti {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translateY(1000px) rotate(720deg);
      opacity: 1;
    }
  }
  
  .confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0000; /* Color de un papelito de confeti */
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5); /* Sombra del papelito */
    animation: confetti 5s ease-in-out;
  }