/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.logo {
    width: 50px;
    height: 50px;
}
.titulo {
    /* font-family: Cambria, serif; */
    /* font-family: "Permanent Marker", cursive; */
    font-family: "Rubik Bubbles", system-ui;
    /* font-weight: bold; */
    color: white;
    font-size: 150px; 
  }
.iniciar-sesion{
    font-size: 20px;
}
.negrita{
    font-weight: bold;
}
.cambria{
    /* font-family: Cambria, serif; */
    font-family: "Permanent Marker", cursive;
}
.texto{
    font-size: 30px; 
}
.back-navbar{
    background-color: #7AA2E3;
}
.back-texto1{
    background-color: #6AD4DD;
}
.back-texto2{
    background-color: #97E7E1;
}
.back-texto3{
    background-color: #F8F6E3;
}
.imagen-boton {
    position: relative;
    /* display: inline-block; */
}
.su-posicion{
    background-color: #4F6F52;
}
.boton {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    top: 90%; /* Ajusta la posición vertical del botón */
    /* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    margin: auto;
    background-color: #4F6F52;
    color: #fff;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
}
.footer {
    position: relative;
    /* display: inline-block; */
}
.navbar-text{
    font-size: 20px;
}
a{
    text-decoration: none;
}
.creadores-posicion {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    height: 108px;
    top: 50%; /* Ajusta la posición vertical del botón */
    left: 10%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.creadores-titulo{
    font-size: 20px;
}
.creadores{
    font-size: 15px;
}
.agradecimientos-posicion {
    position: absolute;
    font-family: "Permanent Marker", cursive;
    top: 50%; /* Ajusta la posición vertical del botón */
    left: 90%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
.agradecimientos-titulo{
    font-size: 20px;
}
.agradecimientos{
    font-size: 15px;
}
.login{
    font-size: 27px; 
}

.SessionContainer{
    background-color: #F8F6E3;
}
.Iconholder{
    background-color: #6AD4DD;
}
.podio{
    position: relative;
}
.geeks{
 font-size: 20px;
}
.primeros3{
    position: absolute;
}
.pading-texto{
    padding: 100px;
}
.segundo{
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    top: 28%; /* Ajusta la posición vertical del botón */
    left: 27%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
.primero{
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    top: 9%; /* Ajusta la posición vertical del botón */
    left: 54%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
.tercero{
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    top: 39%; /* Ajusta la posición vertical del botón */
    left: 76%;/* left: 0%; Ajusta la posición horizontal del botón */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .titulo{
        font-size: 110px;
    }
    .texto{
        font-size: 20px;
    }
    .navbar-text{
        font-size: 15px;
    }
    .creadores-posicion{
        top: 43%; 
        left: 15%;
        height: 75px;
    }
    .agradecimientos-posicion{
        top: 50%; 
        left: 85%;
        height: 70px;
    }
    .creadores{
        font-size: 15px;
    }
    .creadores-titulo{
        font-size: 20px;
    }
    .agradecimientos{
        font-size: 15px;
    }
    .agradecimientos-titulo{
        font-size: 20px;
    }
    .geeks{
        font-size:15px;
    }
    .boton{
        font-size: 35px;
    }
    .logo{
        height: 45px;
        width: 45px;
    }
    .iniciar-sesion{
        font-size: 15px;
    }
    .pading-texto{
        padding: 25px;
    }
}
@media screen and (max-width: 425px) {
    .titulo{
        font-size: 40px;
    }
    .texto{
        font-size: 15px;
    }
    .navbar-text{
        font-size: 10px;
    }
    .creadores-posicion{
        top: 50%; 
        left: 15%;
        height: 75px;
    }
    .agradecimientos-posicion{
        top: 50%; 
        left: 85%;
        height: 70px;
    }
    .creadores{
        font-size: 10px;
    }
    .creadores-titulo{
        font-size: 10px;
    }
    .agradecimientos{
        font-size: 10px;
    }
    .agradecimientos-titulo{
        font-size: 10px;
    }
    .geeks{
        font-size:10px;
    }
    .boton{
        font-size: 25px;
    }
    .logo{
        height: 35px;
        width: 35px;
    }
    .iniciar-sesion{
        font-size: 10px;
    }
    .pading-texto{
        padding: 15px;
    }
}